{% extends "base.html" %}
{% block title %}Woops! (404 Not found){% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Woops! <small>(404 Not found)</small></h1>
                <p class="lead">Unfortunately, whatever you were after isn't here.</p>
                <p>The error has been logged, you should probably <a href="/">head to the main page</a> since that's where most everything is.</p>
                <p>...</p>
                <p>...?</p>
                <p>Still here?</p>
                <p>OK, have an <a href="/brew">easter egg</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
