{% extends "base.html" %}
{% block title %}Whoops! (500 Internal error){% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Whoops! <small>(500 Internal error)</small></h1>
                <p class="lead">Sorry, something has gone wrong on this side.</p>
                <p>The error has been logged, you should probably <a href="/">head to the main page</a> since that's where most everything is.</p>
                <p>To make up for this error, please have an <a href="/brew">easter egg</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
