{% extends "base.html" %}
{% block title %}Matthew Bishop{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Matthew Bishop <small>Hi! I write code.</small></h1>
                <p class="lead">I even went to <a href="http://www.oit.edu/">school</a> for it (a good one, in my totally unbiased opinion).</p>
                <p>I love brain teasers and building things, and I'm happiest when I'm making tools to help other people, and fortunately Software Engineering is the perfect fit for that.</p>
                <p>My primary areas of expertise are in .NET desktop and server applications (including, but not limited to, WinForms, WPF and WCF), with experience in Python and the Win32 API.</p>
                <p>If you'd like some more structured information or want to contact me, I've got some links for that:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="media">
                    <a href="https://github.com/mattsacommonname" target="_blank">
                        <div class="media-left">
                                <img class="media-object" src="static/GitHub-Mark-64px.png" style="width:64px;height:64px;" alt="GitHub" title="GitHub">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">GitHub</h3>
                            <p>See some code that I wrote.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <a href="https://www.linkedin.com/in/matthew-bishop-934aa132" target="_blank">
                        <div class="media-left">
                                <img class="media-object" src="static/In-2C-59px-TM.png" style="width:71px;height:59px;" alt="LinkedIn" title="LinkedIn">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">LinkedIn</h3>
                            <p>I have one.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <a href="http://stackoverflow.com/cv/matthewbishop" target="_blank">
                        <div class="media-left">
                                <img class="media-object" src="static/so-icon.png" style="width:79px;height:79px;" alt="StackOverflow Careers" title="StackOverflow Careers">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">StackOverflow Careers</h3>
                            <p>I also have one of these.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <footer class="footer">
            <div class="container">
                <p>(For those curious, this site uses a combination of <a href="https://cloud.google.com/appengine/">Google App Engine</a>, <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://getbootstrap.com/">Bootstrap</a>. Well, and <a href="https://www.w3.org/html/">HTML</a>. And <a href="https://www.w3.org/standards/webdesign/script">JavaScript</a> &amp; <a href="https://www.w3.org/Style/CSS/">CSS</a>. And <a href="https://www.python.org/">Python</a>.)</p>
            </div>
        </footer>
    </div>
{% endblock %}
